* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #99B2DD;
    text-align: center;
    color: #3A405A;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #E5689A;
    background-color: snow;

}

#reset-game {
    padding: 1rem;
    border-radius: 15px;
    background-color: #E5689A;
    color: snow;
    font-size: 15px;
    /* border: none; */
}

#new-game {
    padding: 1rem;
    border-radius: 15px;
    background-color: #E5689A;
    color: snow;
    font-size: 15px;
    /* border: none;  */
}

.winmsg {
    /* color: ; */
    font-size: 5vmin;
}

.winalert {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.hide {
    display: none;
}

#mode{
    margin-top: 10px;
    margin-right: 1430px;
    padding: 1rem;
    border-radius: 50px;
    background-color: #E5689A;
    color: snow;
    font-size: 15px;
}

.light{
    background-color: #99B2DD;
    color: #3A405A;
}

.dark{
    background-color:#191716 ;
    color:#E6AF2E ;
}